<main> 
    <section id="outer-div">
         <section id="registration-section">
            <h1><img id="logoH1" alt="Pokémon logo" src="../../assets/images/pokemonLogo.png"> Trainer <span id="academy">Academy</span></h1>
            <h2>Are you ready to Catch 'em All?</h2>
            <h3>Join the community</h3>
            <input class="a-input" type="text" [(ngModel)]="trainer.name" placeholder="Name" required />
            <button type="button" id="btn-submit" (click)="onSignUpClicked()">Sign up</button>
        </section>
    </section> 
    <img id="pickachu" alt="#Pickachu" src="../../assets/images/pickachu.jpg">
</main>
