main{
    width: 100%;
    height:80vh;
    margin-left: auto;
    margin-right: auto;
    overflow:hidden;  
}

h1{
    font-family: "Circular", Helvetica, Arial;
    margin-top: 0rem;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 900;
    letter-spacing: 0.0rem;
    margin-bottom: 0rem;
    color: #333;  
}
h2{
    font-family: "Circular", Helvetica, Arial;
    margin-top: 0.0rem;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 800;
    letter-spacing: 0.2rem;
    color:#a02f20;
    text-align: center;
}

h3{
    font-family: "Circular", Helvetica, Arial;
    margin-top: 2.2rem;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 800;
    letter-spacing: 0.1rem;
    color:#333;
    text-align: center;
}
#logoH1{
    width:16rem;
    height: auto;
}


#academy{
    color: #2b74ba;
    font-size: 2.2rem;
}

#pickachu{
    width:30rem;
    height:auto;
    top:0;
    margin-top: 6.8rem;
    margin-left: 4rem;
    top:0;
    position: absolute;
    z-index: 99;
}
#outer-div{
    height: 6.6rem;
    width:30%;
    margin-top: 2rem;
    margin-left: 38rem;
     
}
#registration-section {
    width:88%;
    flex-wrap: wrap;
    margin-top: 0.2rem;
    margin-top: auto;
    margin-left: auto;

}
.a-input{
    width:97.8%;
    padding:0.2rem;
    height: 1.4rem;
}
#btn-submit{
    width:100%;
    border: none;
    padding: 0;
    margin-top: 0.2rem;
    font-family: "Circular", Helvetica, Arial;
    font-weight: 600;
    height: 2.8rem;
    color: #333;
    background-color:#ffcb05;
}
#btn-submit:hover{
    color:white;
    background-color: #2b74ba;
    cursor: pointer;
}
